body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin: 1rem 0;
}
h2 {
    font-size: 1.6em;
    margin: 1rem 0;
}
p {
    margin: 0 0 1rem 0;
}
.container {
    max-width: 1200px;
    margin: auto;
    padding: 10px;
}
a {
    color: #e6a563;
}
header {
    background-color: #efefef;
    position: sticky;
    top: 0;
}
header a {
    text-decoration: none;
    color: #000
}
header a:hover {
    color: #e6a563;
}
header .container {
    padding: 10px;
    margin-bottom: 2em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
header img {
    width: 250px;
    margin-right: auto;

}
header ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}
.button {
    background-color: #e6a563;
    border-radius: 10px;
    padding: 5px 10px;
}
.button:hover {
    background-color: #fff;
}
nav li {
    margin: 0 1em;
}
footer {
    text-align: center;
    background-color: #D9D9D9;
    padding: 20px;
}
footer img {
    width: 35px;
}

.community {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 40px;
    justify-items: start;
    max-width: 1000px; 
    margin: auto;
}

.featured {
    grid-column: 1 / 3; 
    display: grid;
    grid-template-columns: 1fr 1fr; 
    align-items: center; 
    background: white;
    gap: 25px;
}

.featured .event-text {
    padding: 30px;
}

.featured img{
    width:100%;
    display:block;
}

.featured h2{
    font-size: 1.4em;
}

.event-block{
    background:white;
    box-shadow:0 3px 10px rgba(0,0,0,0.1);
}

.event-block:not(.featured) {
    width: 320px;
    text-align: center;
    justify-self: start;
}

.event-block:not(.featured) img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.event-block img{
    width:100%;
    display:block;
}

.event-block h2,
.event-block h3{
    padding:15px 15px 0;
}

.event-block:not(.featured) h2,
.event-block:not(.featured) h3{
    font-size: 1.2em;
}

.event-block p{
    padding:15px;
}

.event-text{
    align-self: start;
}

.event-text h2{
    margin-top: 0;
}

.event-block span{
    color: #777;
    font-style: italic;
}